menu "Drivers"

config UART
    bool "UART"
    default n

menu "UART Options"
depends on UART

    config SEND_TIMEOUT
    int "UART send timeout (ms)"
    default 10000

endmenu

config MIDI
    bool "MIDI"
    default n
    depends on UART

config SPI
    bool "SPI"
    default n

config W25Q128JV
    depends on SPI
    bool "W25Q128JV"
    default n

