menu "Drivers"

config UART
    bool "UART"
    default n

menu "UART Options"
depends on UART

    config SEND_TIMEOUT
    int "UART send timeout (ms)"
    default 10000

endmenu

config MIDI
    bool "MIDI"
    default n
    depends on UART

endmenu